/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
} */

.cardcontainer {
    position: relative;
    display: inline-block;
}

.icon {
    font-size: 3rem;
    cursor: pointer;
    transition: color 0.3s ease;
}

.card {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;

    width: 400px;
    height: 50px;

    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
    transform: scale(0);
    transform-origin: top;
}

.cardcontainer:hover .card {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
