/* components/Layout.module.css */

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #f8f9fa;
  }
  
  .flightInfo {
    display: flex;
    flex-direction: column;
  }

  .headerText {
    margin: 0; 
  }
  .main {
    display: flex;
    flex: 1;
  }
  
  .sidebar {
    background-color: #f8f9fa;
    width: 200px;
    padding: 1rem;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  }
  
  .content {
    flex: 1;
    padding: 1rem;
  }
  
  .logo {
    width: 100px; 
  }

  .flightIdGreen {
    color: #00684A; /* MongoDB green */
    font-family: 'Lexend Deca', sans-serif;
  }
  
  .flightIdBlack {
    color: black;
    font-family: 'Lexend Deca', sans-serif;
  }

  .subHeader {
    font-family: 'Lexend Deca', sans-serif;
    color: black;
    margin-top: -0.5rem; 
    font-size: 1.2rem; 
  }