/* components/Layout.module.css */

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Lexend Deca', sans-serif;
  }
  
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f8f9fa;
}

.icon_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  font-size: 0.9rem; 
}

.flightInfo {
  display: flex;
  flex-direction: column;
}

.headerText {
  margin: 0; 
}
.main {
  display: flex;
  flex: 1;
}

.sidebar {
  background-color: #f8f9fa;
  width: 20%;
  padding: 1rem;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.sidebar .filterSelection {
  width: 90%;
  padding: 10px;
}

.content {
  flex: 1;
  padding: 1rem;
}

.logo {
  width: 100px; 
}

.flightIdGreen {
  color: #00684A; /* MongoDB green */
  font-family: 'Lexend Deca', sans-serif;
}

.flightIdBlack {
  color: black;
  font-family: 'Lexend Deca', sans-serif;
}

.subHeader {
  font-family: 'Lexend Deca', sans-serif;
  color: black;
  margin-top: 0.2rem; 
  font-size: 1.2rem; 
}

.nav {
  margin-top: 0.1rem;
  background-color: #f8f9fa;
  padding: 0.5rem;
}

.navList {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navItem {
  margin-right: 1rem;
}

.navLink {
  text-decoration: none;
  color: #00684A;
  font-family: 'Lexend Deca', sans-serif;
  padding-left: 7px;
}

.navLink:hover {
  text-decoration: underline;
}

.activeLink {
  text-decoration: underline;
}


.filterGroup {
margin-bottom: 1rem;
}

.filterDropdown {
  width: 100%;
  margin-top: 5px;
  padding: 5px;
}


.separationBar {
  border: 0;
  height: 1px;
  background: #ccc;
  margin: 1rem 0;
}

.slider {
  position: relative;
  width: 200px;
}

.slider__track,
.slider__range,
.slider__left-value,
.slider__right-value {
  position: absolute;
}

.slider__track,
.slider__range {
  border-radius: 3px;
  height: 5px;
}

.slider__track {
  background-color: #ced4da;
  width: 100%;
  z-index: 1;
}

.slider__range {
  background-color: #9fe5e1;
  z-index: 2;
}

.slider__left-value,
.slider__right-value {
  color: #dee2e6;
  font-size: 12px;
  margin-top: 20px;
}

.slider__left-value {
  left: 6px;
}

.slider__right-value {
  right: -4px;
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 200px;
  outline: none;
}

.thumb--left {
  z-index: 3;
}

.thumb--right {
  z-index: 4;
}

.thumb::-webkit-slider-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}


.searchButton {
width: 100%;
padding: 0.5rem;
background-color: #007bff;
color: #fff;
border: none;
border-radius: 4px;
cursor: pointer;
}
